.columns {
	display: flex;
	justify-content: flex-start;
	gap: 10px;
	align-items: flex-start;

	.column {
		padding: 10px;
		width: 280px;
		background-color: #e3e3e3;
		max-height: 90vh;
		border-radius: 4px;
		min-height: 60px;

		&__headline {
			display: flex;
			justify-content: space-around;
			align-items: flex-start;

			&:hover {
				.icons {
					visibility: visible;
				}
			}
		}

		&__header {
			color: #2c3134;
			padding: 0px 5px;
			margin: 0;
			font-size: 15px;
			appearance: none;
			border: none;
			outline: none;
			background: none;
			font-weight: 700;
			cursor: auto;
			resize: none;

		}

		&__add {
			color: #e3e3e3;

			&::before {
				background-color: #e3e3e3;
			}
		}
	}
}