.rows {
	margin-top: 5px;
	position: relative;
	overflow-y: scroll;
	overflow-x: hidden;
	max-height: 90vh;
}

.row {
	background-color: #ecf0f1;
	// width: 230px;
	min-height: 40px;
	border-radius: 4px;
	padding: 10px;
	margin-top: 5px;
	margin-right: 8px;
	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
	transition: background-color .3s ease;
	
	&__headline {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
	}

	&__text {
		color: #2c3134;
		padding: 0px 5px;
		margin: 0;
		font-size: 15px;
		appearance: none;
		border: none;
		outline: none;
		background: none;
		font-weight: 700;
		cursor: auto;
		resize: none;
	}

	&__add {
		color: #343538;
		font-size: 14px;
		margin: 10px auto;
		margin-bottom: 0;

		&::before {
			background-color: #343538;
		}
	}

	&:hover {
		.row__icons {
			visibility: visible;
		}
	}
}