.rows {
	margin-top: 5px;
	position: relative;
	overflow-y: scroll;
	overflow-x: hidden;
	max-height: 84vh;
}

.row {
	background-color: #ecf0f1;
	min-height: 40px;
	border-radius: 4px;
	padding: 10px;
	margin-top: 5px;
	margin-right: 8px;
	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
	transition: background-color .3s ease;
	
	&__headline {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
	}

	&__text {
		color: #2c3134;
		padding: 0px 5px;
		margin: 0;
		font-size: 15px;
		appearance: none;
		border: none;
		outline: none;
		background: none;
		font-weight: 700;
		cursor: auto;
		resize: none;

		&::-webkit-scrollbar {
			width: 0px;
		}
	}

	&__add {
		color: #343538;
		font-size: 14px;
		margin: 10px auto;
		margin-bottom: 0;

		&::before {
			background-color: #343538;
		}
	}

	&:hover {
		.row__icons {
			visibility: visible;
		}
	}
}



@media (max-height: 820px) {
	.rows {
		max-height: 83vh;
	}
}

@media (max-height: 775px) {
	.rows {
		max-height: 82vh;
	}
}
@media (max-height: 735px) {
	.rows {
		max-height: 81vh;
	}
}
@media (max-height: 695px) {
	.rows {
		max-height: 80vh;
	}
}
@media (max-height: 655px) {
	.rows {
		max-height: 79vh;
	}
}
@media (max-height: 625px) {
	.rows {
		max-height: 78vh;
	}
}
@media (max-height: 600px) {
	.rows {
		max-height: 77vh;
	}
}
@media (max-height: 575px) {
	.rows {
		max-height: 76vh;
	}
}
@media (max-height: 550px) {
	.rows {
		max-height: 75vh;
	}
}
@media (max-height: 530px) {
	.rows {
		max-height: 74vh;
	}
}